@page
@model MyShopRazorPages.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Account Management";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-0">Account List</h1>
    <p class="mt-4">
        <a class="btn btn-primary" asp-page="Create">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Enabled
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td wid>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Email">Edit</a>
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Email">Details</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation" style="display: flex; justify-content: center;">
    <ul class="pagination">
        @for (var i = 1; i <= @Model.LastPageIndex; i++)
        {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" href="?pageIndex=@i">@i</a>
                </li>
        }
    </ul>
</nav>
